[project]
	description = Release 2 of the openPOWERLINK protocol stack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suganyaathimuthu
[access "refs/for/refs/*"]
	read = group user/suganyaathimuthu
	push = group user/suganyaathimuthu
	label-Code-Review = -2..+2 group user/suganyaathimuthu
	label-Verified = -1..+1 group user/suganyaathimuthu
	rebase = group user/suganyaathimuthu
	removeReviewer = group user/suganyaathimuthu
	submit = group user/suganyaathimuthu
[access "refs/heads/*"]
	read = group user/suganyaathimuthu
	create = group user/suganyaathimuthu
	push = +force group user/suganyaathimuthu
	pushMerge = group user/suganyaathimuthu
[access "refs/tags/*"]
	push = group user/suganyaathimuthu
	push = +force group user/suganyaathimuthu
